@import "tailwindcss";
@plugin "@tailwindcss/typography";

@import "./highlight-light-lite.css";
@import "./highlight-dark-lite.css";

@source "../views";
@source inline("{m,p}{x,y,t,b,l,r}-{1..20}");

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
    .toc-link-active {
        color: var(--color-blue-700);
        font-weight: 500;
    }

    .dark .toc-link-active {
        color: var(--color-blue-300);
    }

    .pergament-code-block {
        background: #1e293b;
        color: #e2e8f0;
        padding: 1rem;
        border-radius: 0.5rem;
        overflow-x: auto;
    }

    .pergament-img-dark {
        display: none;
    }

    .dark .pergament-img-light {
        display: none;
    }

    .dark .pergament-img-dark {
        display: block;
    }
}
